#list-box-task .col-md-3
{
		background: #f5f5f5;
    height: 500px;
    border-right: 15px solid #FFFFFF;
    padding: 5px;
}
#list-box-task .col-md-3 .column
{
  margin: 3px;
  height: 500px;
  border: 1px dashed transparent;
}
#list-box-task .col-md-3 .column.border-blue
{
  border-color: #2E5CE6;
}
#list-box-task .col-md-3 .column.border-green
{
  border-color: #00B800;
}
.box-task a img
{
	cursor: pointer;
	max-width: 40px;
}
.box-task
{
  padding: 10px;
  border: 1px solid #dddddd;
  background: #FFFFFF;
  cursor: move;
  margin: 2px 0px;
	border-left: 3px solid #FC0000;
}

.box-comment
{
	position: absolute;
	bottom:5px;
	width: 95%;
}
.box-comment ul
{
	max-height: 300px;
	overflow-y: scroll;

}
/*HELPER*/
.overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1)
}
.overlay.loading img
{
	width: 70px;
	height: 70px;
	display: inine-block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.hidden
{
	display: none;
}
.n-p
{
	padding: 0px;
}
